*{
    font-family: 'Inder';
}

.creation-groupe{
    background-color: #3D3939;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    color: white;
    font-size: 25px;
    padding: 30px 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.creation-groupe>*:not(.button-rectangle){
    display: flex;
    flex-direction: column;
}

label{
    display: inline-block;
    margin-bottom: 5px;
}

.inputs{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 50%;
    align-items: center;
}

.inputs>div{
    width: 200px;
}

.inputs>*>input,.input-eleve>*>input{
    width: 200px;
    border: 1px solid #D0D4D9;
    border-radius: 5px;
    height: 33px;
}

.input-eleve{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.liste{
    width: 50%;
    display: flex;
    height: 70%;
}

.eleve{
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

img{
    height: 100%;
}

p{
    margin: 0 0 0 10px;
}