.filtres{
    display: flex;
    gap: calc(10px + 5vw);
    justify-content: center;
    margin: 0 80px 30px 80px;
    padding: 20px;
    background-color: rgb(94, 94, 94);
    border-radius: 25px;
    overflow: hidden;
}

.select{
    width: 17vw;
    border-radius: 7px;
    padding: 7px;
}

.select:hover{
    cursor: pointer;
}

.button-rectangle{
    width: calc(10px + 10vw);
    height: 5vh;
    background-color: white;
    border: 0;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 0.9vw;
}

.button-rectangle:hover{
    cursor: pointer;
}