*{
    font-family: 'Inder';
}

.creation{   /* pour la div class="creation" dans App.js */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc(20px + 0.5vw);
}

.creation-session{
    background-color: #3D3939;
    border-radius: 10px;
    width: 700px;
    height: 500px;
    color: white;
    font-size: 25px;
    padding: 30px 0;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.creation-session>*{
    display: flex;
    flex-direction: column;
    margin: 0px 50px;
}

.matiereType>*{
    display: flex;
    flex-direction: column;
}

.matiereType>*>input{
    height: 33px;

}

label{
    margin-bottom: 10px;
}

input{
    width: 220px;
    border: 1px solid #D0D4D9;
    border-radius: 5px;
}

#groupe,#intervenant,#salle{
    height: 120px;
}

#date,#heure_debut,#heure_fin{
    height: 33px;
}

.DateHeure>div{
    width: 150px;
}

.DateHeure{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: auto;
    gap: 55px;
    align-content: space-between;
}

.DateHeure>*>input{
    width: 120px;
}

input[type=submit]{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    border-radius: 6px;
    margin-top: 20px;
    font-size: 25px;
}